<div class="row post">
    <div class="col-md-8">
        <h2>Heading</h2>
        <h6>Datum</h6>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">Mehr lesen &raquo;</a></p>
        <div class="row">
            <div class="col-6">Autor: Name</div>
            <div class="col-6">Kommentare: 2</div>
        </div>
    </div>
    <div class="col-md-4 img-container">
        <img src="https://via.placeholder.com/200" alt="Post image">
    </div>
</div>